<%= form_for([@clinic, @animal]) do |f| %>
    <% if @animal.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

          <ul>
            <% @animal.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label 'Nome animal:' %><br>
      <%= f.text_field :animal_name %>
    </div>

    <div class="field">
      <%= f.label 'Nome dono:' %><br>
      <%= f.text_field :owner_name %>
    </div>

    <div class="field">
      <%= f.label 'Data de nascimento:' %><br>
      <%= f.text_field :birth_date %>
    </div>

    <div class="field">
      <%= f.label 'Peso:' %><br>
      <%= f.text_field :weigth %>
    </div>

  <div class="field">
    <%= f.label 'Sexo:' %><br>
    <%= f.select(:gender_id, @animal_properties['gender'], {:prompt => 'Selecionar'}, {:class => 'form-control'}) %>
  </div>

  <div class="field">
    <%= f.label 'Especie:' %><br>
    <%= f.select(:category_id, @animal_properties['category'], {:prompt => 'Selecionar'}, {:class => 'form-control'}) %>
  </div>

  <div class="field">
    <%= f.label 'Raça:' %><br>
    <%= f.select(:race_id, @animal_properties['race'], {:prompt => 'Selecionar'}, {:class => 'form-control'}) %>
  </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
