<%= form_for(@history_item) do |f| %>
    <% if @history_item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@history_item.errors.count, "error") %> prohibited this history_item from being saved:</h2>

          <ul>
            <% @history_item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :observation %><br>
      <%= f.text_area :observation %>
    </div>
    <div class="field">
      <%= f.label :animal_id %><br>
      <%= f.text_field :animal_id %>
    </div>
    <div class="field">
      <%= f.label :document_id %><br>
      <%= f.text_field :document_id %>
    </div>
    <div class="field">
      <%= f.label :user_id %><br>
      <%= f.text_field :user_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
