<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Animal Cardio</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <%# <p>Animal Cardio Header</p> %>
  <div id="logo"></div>
</div>
<hr/>

<div id="session">
  <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>
      <%= link_to 'Edit Profile', edit_user_registration_path %> <b>|</b>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  <% else %>
      <%= link_to 'Login', new_user_session_path %>
  <% end %>
</div>

<div style="clear:both"></div>

<% if user_signed_in? %>
    <div id="menu">
      <ul id="menu-items" class="menu-horizontal">
        <li class="menu-item-horizontal"><%= link_to 'Clinics', clinics_path %></li>
        <li class="menu-item-horizontal"><%= link_to 'Add New User', new_user_registration_path %></li>
      </ul>
    </div>
<% end %>

<p class="notice"><%= notice %></p>

<p class="alert"><%= alert %></p>

<%= yield %>

<hr/>
<div id="footer">
  <h1>Animal Cardio Footer</h1>
</div>

</body>
</html>
